@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
@charset "utf-8";

html {
  min-height: 100%;
  font-size: 11pt;
}

body {
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
  width: 100%;
  margin: 110px auto 0 auto;
  transition: margin-top 0.5s ease;
  -webkit-transition: margin-top 0.5s ease;
  -moz-transition: margin-top 0.5s ease;
  -o-transition: margin-top 0.5s ease;
}

.top {
  position: fixed;
  top: 0;
  background: white;
  text-align: left;
  padding-top: 16px;
  margin-bottom: 10px;
  width: 100%;
  min-width: 320px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .8);
  -o-box-shadow: 0 2px 8px rgba(0, 0, 0, .8);
}

.header {
  max-width: 1024px;
  margin: auto;
  width: 100%;
  vertical-align: middle;
}

.header>a {
  text-decoration: none;
  display: table;
  width: 100%;
  padding: 0 10px;
}

.header>a img.circular {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  transition: width, height 0.3s ease;
  -webkit-transition: width, height 0.3s ease;
  -moz-transition: width, height 0.3s ease;
  -o-transition: width, height 0.3s ease;
}

.header>a h1 {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 180%;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  padding: 0 10px;
  transition: font-size 0.5s ease;
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
}

.header ul.social {
  position: relative;
  top: -16px;
  float: right;
  clear: none;
  right: 0px;
  height: 16px;
  padding-top: 4px;
  transition: height 0.5s ease;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
}

.header ul.social li {
  display: inline;
  padding: 0 5px 0 0;
}

.header ul.social li a {
  display: inline;
}

.header ul.social li a img {
  height: 100%;
  min-width: 16px;
  min-height: 16px;
  max-width: 32px;
  max-height: 32px;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
}

.header nav {
  float: right;
}

.header nav ul.menu {
  font-size: 90%;
  font-weight: bold;
  padding: 15px 0 3px 0;
  transition: right 0.5s ease;
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
}

.header nav ul.menu li {
  display: inline;
  padding: 0 5px;
  margin: 0 0 0 5px;
  background-color: #DEF;
}

.header nav ul.menu li a {
  display: inline;
  color: black;
}
.header nav ul.menu a:hover {
  color: gray;
}
.header nav ul.menu a:visited {
  color: #666;
}

.bottom {
  max-width: 1024px;
  margin: auto;
}

.content {
  margin: 0;
  padding: 0 10px 20px 10px;
}
.content h1 {
  margin: 20px 0;
}

.content h3 {
  font-size: 120%;
  display: inline;
}

.content ul {
  list-style: square inside none;
}

.content ul li {
  padding-left: 2em;
  margin: 20px 0;
}

.content p {
  text-align: justify;
  margin: 10px 0;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 12pt;
  }
  body {
    margin-top: 175px;
  }
  .header>a img.circular {
    width: 120px;
    height: 120px;
  }
  .header>a h1 {
    font-size: 250%;
  }
  .header ul.social {
    height: 32px;
  }
  .header nav ul.menu li {
    padding: 0 10px;
    margin: 0 0 0 10px;
  }
}
